<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login-form</title>
  <link rel="icon" href="/static/img/log.png" type="image/png">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'><link rel="stylesheet" href="/static
	/css/styl.css">

</head>
<body>
<p></p>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#" method="POST">
			<h1>Create Account</h1>
			
			<span>enter your personal info</span>
			<input type="text" name="Name" placeholder="Full-Name"  />
			<input type="email" name="Email" placeholder="Email" />
                        <input type="address" name="Address" placeholder="Address" />
			<input type="phone Number" name="Phone" placeholder="Phone-Number" />
                        <input type="password" name="Password" placeholder="New-Password" />
			<button type="submit" name="Sign_Up" value="Sign_Up">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form  action="#" method="POST">
			<h1>Sign in</h1>
			
			<span>use your id</span>
			<input type="email" name="Ename" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button type="submit" name="Sign_In" value="Sign_In" >Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>please login with your correct id</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello!</h1>
				<p>Enter your details and join with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

    <br><p>&copy;2022-All rights Reserved/ Designed by <a href="/name"><b>GROUP-20</b></a></p>

  <script  src="/static/js/script.js"></script>
 

</body>
</html>
