<!DOCTYPE html>
<html>
    <head>
        <title>Auctions</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/static/auctions/styles.css" rel="stylesheet">
        
    </head>
    <body>
        <h1>Auctions</h1>
        
        <ul class="nav">
            
            <li class="nav-item">
                <a class="nav-link" href="Categori.html">Categories</a>
            </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Register.html">Register</a>
                </li>
            
        </ul>
        <hr>

        <style>
            body
            {background : rgb(146, 196, 236);
         color : rgb(14, 1, 1);
        }
        </style>

        
<h2>Categories</h2>
<ul>
    
    <li><a href="/">item 01</a></li>

    
    <li><a href="/ ">item 02</a></li>

    
    <li><a href="/">item 03</a></li>

    
    <li><a href="/">item 04</a></li>

    
    <li><a href="/">item 05</a></li>

    
    <li><a href="/">item 06</a></li>

    
    <li><a href="/">item 07</a></li>

    
    <li><a href="/">Other</a></li>

    
</ul>




    </body>
</html>
