<!DOCTYPE html>
<html>
    <head>

        <title>Auctions</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/static/auctions/styles.css" rel="stylesheet">


        <meta charaset="utf-8">
        <title>Transparent Login Form</title>
        <link rel="stylesheet" href="style.css">

        <body>


            <h1>Auctions</h1>

        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" href="/Categories">Categories</a>
            </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Register">Register</a>
                </li>

        </ul>

            <style>
                body
                {background : rgb(146, 196, 236);
             color : rgb(19, 18, 18);
            }
            </style>



            <center>
            <form method="POST">
                <table>
                    <tr>
            <div classs="Login-box">
                <hi style=text-align:center>Login Form</hi>
            </tr>
            <tr>
                <td>
                    Username :
                </td>
                <td>
                <div class="textbox">
                    <input type="text"  name="Username" value="">
                </div>
                </td>
            </tr>
            <tr>
                <td>
                    Password :
                </td>
                <td>
                <div class="textbox">
                    <input type="password"  name="Password" value="">
                </div>
            </td>
        </tr>

        <tr>
            <td>

                <button  type="submit" name="Log_in" value="Log_in">Log in
                </button>



        </td>
    </tr>
        </table>
        </form>
    </center>
        </body>
    </head>
</html>